
 <app-navigation-bar></app-navigation-bar>



<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-3 no-float" style="height:100%; width:100%; background-color: red;">
          <app-command-widget></app-command-widget>
        </div>
        <div class="col-md-7 no-float" style="height:100%; width:100%;">
          <app-post-submission></app-post-submission>
          <app-public-feed></app-public-feed>
        </div>
        <div class="col-md-3 no-float" style="height:100%; width:100%; background-color: orange;">Content</div>
    </div>
</div>

<router-outlet></router-outlet>